Repository utra-robosoccer/soccer-embedded, pull requests merged in 2018-10, with the labels that each got.

#100 UartDriver constness & OS I/F naming updates
  .gitignore
  Common/component/UartDriver/UartDriver.cpp
  Common/hardware/HalUartInterface.cpp
  Common/hardware/OsInterfaceImpl.cpp
  Common/include/HalUartInterface.h
  Common/include/MockOsInterface.h
  Common/include/MockUartInterface.h
  Common/include/OsInterface.h
  Common/include/OsInterfaceImpl.h
  Common/include/UartDriver.h
  Common/include/UartInterface.h
  Common/test/UartDriver_test.cpp
  RobotTest/.settings/language.settings.xml
  Robot_F4/.settings/language.settings.xml
  Robot_F7/NUCLEO-F767ZI.xml
Labels: Type: Maintenance, Type: Testing

#102 Pull in ethernet Development configuration and testing tools
  Development/Ethernet/lwip-rtos-config/exit
  Development/Ethernet/lwip-rtos-config/lwip-rtos-config/Inc/lwipopts.h
  Development/Ethernet/lwip-rtos-config/lwip-rtos-config/Src/freertos.c
  Development/Ethernet/lwip-rtos-config/lwip-rtos-config/Src/lwip.c
  Development/Ethernet/lwip-rtos-config/lwip-rtos-config/lwip-rtos-config Run (1).cfg
  Development/Ethernet/lwip-rtos-config/lwip-rtos-config/lwip-rtos-config Run.cfg
  Development/Ethernet/lwip-rtos-config/lwip-rtos-config/lwip-rtos-config.ioc
  Development/Ethernet/lwip-rtos-config/test_udp_echo.py
  Development/Ethernet/lwip-rtos-config/times
  Testing/Ethernet/eth_echo_test.py
  Testing/Ethernet/eth_test_kit/.gitignore
  Testing/Ethernet/eth_test_kit/README.md
  Testing/Ethernet/eth_test_kit/eth_echo_test.py
  Testing/Ethernet/eth_test_kit/fibo_finder.py
  Testing/Ethernet/eth_test_kit/plot_from_quick_stats.py
  Testing/Ethernet/eth_test_kit/quick_stats.py
  Testing/Ethernet/eth_test_kit/quick_stats_json2csv.py
  Testing/Ethernet/python_schedll_module-results.xlsx
Labels: Module: PC Comm, Type: Testing

#105 sync-up: Additions to PcInterface, UdpDriver and OsInterface
  Common/component/PcInterface/PcInterface.cpp
  Common/component/UdpDriver/UdpDriver.cpp
  Common/hardware/LwipUdpInterface.cpp
  Common/hardware/OsInterfaceImpl.cpp
  Common/include/LwipUdpInterface.h
  Common/include/MockOsInterface.h
  Common/include/MockUdpInterface.h
  Common/include/OsInterface.h
  Common/include/OsInterfaceImpl.h
  Common/include/PcInterface.h
  Common/include/UdpDriver.h
  Common/include/UdpInterface.h
  Common/test/UdpDriver_test.cpp
Labels: Module: FreeRTOS, Module: PC Comm, Type: Enhancement, Type: Testing

#99 Merge IMU filter implementation
  Common/app/freertos.cpp
  Common/app/imu_helper.cpp
  Common/app/rx_helper.cpp
  Common/app/tx_helper.cpp
  Common/component/DSP/dsp.cpp
  Common/component/MPU6050/MPU6050.cpp
  Common/component/MPUFilter/MPUFilter.cpp
  Common/include/MPU6050.h
  Common/include/MPUFilter.h
  Common/include/SystemConf.h
  Common/include/UART_Handler.h
  Common/include/dsp.h
  Common/include/imu_helper.h
  Common/include/rx_helper.h
  Common/include/tx_helper.h
  Common/test/UartDriver_test.cpp
  Development/Ethernet/lwip-rtos-config/lwip-rtos-config/lwip-rtos-config Run (1).cfg
  Development/Ethernet/lwip-rtos-config/lwip-rtos-config/lwip-rtos-config Run.cfg
  RobotTest/.settings/language.settings.xml
  Robot_F4/.cproject
  Robot_F4/.settings/language.settings.xml
Labels: Module: IMU

#107 Gdharan data cache
  Common/include/BufferBase.h
  Common/test/Buffer_test.cpp
Labels: Type: Feature
